body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

div.logo{
    background: linear-gradient(#003366,#006699);
    font-size: 2em;
    color: white;
    font-weight: bold;
}


main{
    background: linear-gradient(#dcdcdc,#ffffff);
    padding: 16px;
}

.botao{
    color: white;
    background-color: #2c832d;
    border: none;
    border-radius: 4px;
}

footer, span a{
    background: #003366;
    color: white;
}


